* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.head {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
nav {
  width: 100%;
  height: 65px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 200px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.btn1,
.btn2 {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: white;
  color: gray;
  cursor: pointer;
}
.btn2 {
  background-color: #e21b70;
  border: none;
  color: white;
}
.btn1:hover,
.btn2:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.en {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.font {
  font-size: 1.2rem;
  cursor: pointer;
}
.mark {
  padding: 0px 20px;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
  flex-wrap: wrap;

  /* padding: 40px 80px; */
}
.gray {
  background-color: #ececec;
}
.main {
  width: 100%;
  margin-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero {
  width: 100%;
  /* margin-top: 80px; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-bar {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  /* background-color: #e21b70; */
}
.img {
  width: 48%;
  display: flex;
  object-fit: cover;
  justify-content: right;
  /* background-color: #e21b70; */
}
.img img {
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: right;
  object-fit: cover; */
}
.search-content {
  font-size: 2.5rem;
  font-weight: bolder;
}
.search-box {
  width: 100%;
  height: 90px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-inp {
  width: 80%;
  height: 100%;
  border: 1px solid silver;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.search-inp > input {
  border: none;
  width: 70%;
  font-size: 1rem;
  color: gray;
}
.search-inp > input:focus {
  outline: none;
}
.search-box button {
  width: 20%;
  height: 100%;
  border: none;
  color: white;
  background-color: #e21b70;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.pink {
  color: #a81052;
}
.search-inp span {
  cursor: pointer;
  font-size: 1.1rem;
}
.search-inp span:hover {
  color: #e21b70 !important;
}
a {
  text-decoration: none;
  color: #e21b70;
}
.p-food {
  margin-top: 20px;
  width: 100%;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bolder;
}
.food-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e21b70;
}
.food-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.white {
  background-color: white !important;
}
.margin {
  margin-top: 60px;
}
.food-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 280px;
  height: 220px;
}
.card img {
  width: 280px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card img:hover {
  filter: brightness(1.1); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px); 
}
.city-name {
 
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-top: -45px;
  margin-left: 5px;
  cursor: pointer;
}
@media screen and (min-width: 1550px) {
  nav,
  .hero,
  .p-food {
    width: 1550px;
  }
}
@media screen and (min-width: 1450px) {
  nav,
  .hero,
  .p-food {
    width: 1450px;
  }
}
@media screen and (min-width: 1350px) {
  nav,
  .hero,
  .p-food {
    width: 1350px;
  }
}
@media screen and (min-width: 1250px) {
  nav,
  .hero,
  .p-food {
    width: 1250px;
  }
}

@media screen and (max-width: 1250px) {
  nav,
  .hero {
    width: 1000px;
    padding: 40px;
  }
  .search-content,
  .p-food {
    font-size: 1.5rem;
  }
  .search-inp {
    width: 75%;
    font-size: 0.8rem;
    padding: 10px;
  }
  .search-inp::placeholder {
    font-size: 0.8rem;
  }
  .search-box button {
    padding: 5px;
    font-family: 0.8rem;
  }
  .size {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 950px) {
  .main {
    margin-top: 60px;
  }
  .hero {
    display: flex;
    gap: 40px;
    flex-direction: column-reverse;
  }
  .search-bar,
  .img {
    width: 100%;
  }
  .img img {
    width: 80%;
  }
  .search-content {
    width: 100%;
    text-align: center;
  }
  .food-card {
    justify-content: space-around;
  }
  .card {
    width: 220px;
    height: 180px;
  }
}
